=begin
#Enterprise Mission Assurance Support Service (eMASS)

#The eMASS Representational State Transfer (REST) Application Programming Interface (API) enables users to perform assessments and complete actions associated with system records.  The eMASS API provides an interface for application to communicate eMASS Services. For information on how to register and use the eMASS API reference the [eMASS API Getting Started](https://mitre.github.io/emass_client/docs/eMASSGettingStarted.md).  Additional information about eMASS can be obtain by contacting the National Industrial Security Program (NISP). Points of Contact are: 

The version of the OpenAPI document: v3.22
Contact: disa.global.servicedesk.mbx.ma-ticket-request@mail.mil
Generated by: https://openapi-generator.tech
Generator version: 7.12.0-SNAPSHOT

=end

require 'cgi'

module EmassClient
  class CloudResourceResultsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add one or many cloud resources and their scan results
    # Add cloud resources and their scan results in the assets module for a system `systemId`  **Request Body Required Fields** - `provider` - `resourceId` - `resourceName` - `resourceType` - `complianceResults` (Object Array)   - `cspPolicyDefinitionId`   - `isCompliant`   - `policyDefinitionTitle`  **Example Request Body Required Fields** ``` [   {     \"provider\": \"provide name\",     \"resourceId\": \"resource identification\",     \"resourceName\": \"resource name\",     \"resourceType\": \"resource type\",     \"complianceResults\": [       {         \"cspPolicyDefinitionId\": \"CSP policy definition identification\",         \"policyDefinitionTitle\": \"policy definition title\",         \"isCompliant\": [true or false]       }     ]   } ] ```
    # @param system_id [Integer] **System Id**: The unique system record identifier.
    # @param request_body [Array<Object>] Example request body for adding cloud resources and their scan results
    # @param [Hash] opts the optional parameters
    # @return [CloudResourcesResponsePost]
    def add_cloud_resources_by_system_id(system_id, request_body, opts = {})
      data, _status_code, _headers = add_cloud_resources_by_system_id_with_http_info(system_id, request_body, opts)
      data
    end

    # Add one or many cloud resources and their scan results
    # Add cloud resources and their scan results in the assets module for a system &#x60;systemId&#x60;  **Request Body Required Fields** - &#x60;provider&#x60; - &#x60;resourceId&#x60; - &#x60;resourceName&#x60; - &#x60;resourceType&#x60; - &#x60;complianceResults&#x60; (Object Array)   - &#x60;cspPolicyDefinitionId&#x60;   - &#x60;isCompliant&#x60;   - &#x60;policyDefinitionTitle&#x60;  **Example Request Body Required Fields** &#x60;&#x60;&#x60; [   {     \&quot;provider\&quot;: \&quot;provide name\&quot;,     \&quot;resourceId\&quot;: \&quot;resource identification\&quot;,     \&quot;resourceName\&quot;: \&quot;resource name\&quot;,     \&quot;resourceType\&quot;: \&quot;resource type\&quot;,     \&quot;complianceResults\&quot;: [       {         \&quot;cspPolicyDefinitionId\&quot;: \&quot;CSP policy definition identification\&quot;,         \&quot;policyDefinitionTitle\&quot;: \&quot;policy definition title\&quot;,         \&quot;isCompliant\&quot;: [true or false]       }     ]   } ] &#x60;&#x60;&#x60;
    # @param system_id [Integer] **System Id**: The unique system record identifier.
    # @param request_body [Array<Object>] Example request body for adding cloud resources and their scan results
    # @param [Hash] opts the optional parameters
    # @return [Array<(CloudResourcesResponsePost, Integer, Hash)>] CloudResourcesResponsePost data, response status code and response headers
    def add_cloud_resources_by_system_id_with_http_info(system_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudResourceResultsApi.add_cloud_resources_by_system_id ...'
      end
      # verify the required parameter 'system_id' is set
      if @api_client.config.client_side_validation && system_id.nil?
        fail ArgumentError, "Missing the required parameter 'system_id' when calling CloudResourceResultsApi.add_cloud_resources_by_system_id"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling CloudResourceResultsApi.add_cloud_resources_by_system_id"
      end
      # resource path
      local_var_path = '/api/systems/{systemId}/cloud-resource-results'.sub('{' + 'systemId' + '}', CGI.escape(system_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CloudResourcesResponsePost'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKey', 'mockType', 'userId']

      new_options = opts.merge(
        :operation => :"CloudResourceResultsApi.add_cloud_resources_by_system_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudResourceResultsApi#add_cloud_resources_by_system_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove one or many cloud resources in a system
    # Removes cloud resources and their scan results in the assets module for a system `systemId`
    # @param system_id [Integer] **System Id**: The unique system record identifier.
    # @param cloud_resources_delete_body_inner [Array<CloudResourcesDeleteBodyInner>] Delete the given Cloud Resource Id
    # @param [Hash] opts the optional parameters
    # @return [CloudResourcesDelete]
    def delete_cloud_resources(system_id, cloud_resources_delete_body_inner, opts = {})
      data, _status_code, _headers = delete_cloud_resources_with_http_info(system_id, cloud_resources_delete_body_inner, opts)
      data
    end

    # Remove one or many cloud resources in a system
    # Removes cloud resources and their scan results in the assets module for a system &#x60;systemId&#x60;
    # @param system_id [Integer] **System Id**: The unique system record identifier.
    # @param cloud_resources_delete_body_inner [Array<CloudResourcesDeleteBodyInner>] Delete the given Cloud Resource Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(CloudResourcesDelete, Integer, Hash)>] CloudResourcesDelete data, response status code and response headers
    def delete_cloud_resources_with_http_info(system_id, cloud_resources_delete_body_inner, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CloudResourceResultsApi.delete_cloud_resources ...'
      end
      # verify the required parameter 'system_id' is set
      if @api_client.config.client_side_validation && system_id.nil?
        fail ArgumentError, "Missing the required parameter 'system_id' when calling CloudResourceResultsApi.delete_cloud_resources"
      end
      # verify the required parameter 'cloud_resources_delete_body_inner' is set
      if @api_client.config.client_side_validation && cloud_resources_delete_body_inner.nil?
        fail ArgumentError, "Missing the required parameter 'cloud_resources_delete_body_inner' when calling CloudResourceResultsApi.delete_cloud_resources"
      end
      # resource path
      local_var_path = '/api/systems/{systemId}/cloud-resource-results'.sub('{' + 'systemId' + '}', CGI.escape(system_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cloud_resources_delete_body_inner)

      # return_type
      return_type = opts[:debug_return_type] || 'CloudResourcesDelete'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKey', 'mockType', 'userId']

      new_options = opts.merge(
        :operation => :"CloudResourceResultsApi.delete_cloud_resources",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CloudResourceResultsApi#delete_cloud_resources\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
