name: Generate eMASS Documentation

# Run on each push to main
# For testing use the PR name for 'branches:' - once done testing revert the 'branches:' name to main
on:
  push:
    branches: [ UpdateTov3.22Spec ]
  # pull_request:
  #   branches: [ main ]
jobs:
  test_job:
    runs-on: ubuntu-latest
    name: Generate Document with redoc
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Use redoc-cli-github-action to generate the HTML bundle
      - name: Generate the HTML bundle (redoc-cli)
        uses: seeebiii/redoc-cli-github-action@v10
        with:
          args: 'bundle docs/eMASSRestOpenApi.yaml -o docs/redoc/index.html'

      - name: check result
        run: |
          ls -al
          test -f docs/redoc/index.html || (echo "Fail to generate docs/redoc/index.html from previous step." && exit 1)
      
      # Deploy static files to GitHub Pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/redoc
          destination_dir: docs/redoc
          enable_jekyll: true
